.form-atualiza-contato{
    padding: 0 30px 20px 30px;
}

#divFotoAtual{
    display: flex;
    flex-direction: column;
}

#divNovaFoto{
    margin-top: 12px;
}

.img-tb-contato{
    width: 55px;
    height: 55px;
}